<% for @m in @musics %>
    <div class="card mt-4">
      <div class="card-body">
        <%= link_to(@m.title, music_path(@m.id)) %>
        <p><%= @m.description %></p>
      </div>
    </div>
<% end %>